In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\baivab bhusal\miniconda3\envs\csit82\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\baivab bhusal\miniconda3\envs\csit82\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\baivab bhusal\miniconda3\envs\csit82\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\baivab bhusal\miniconda3\envs\csit82\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\baivab bhusal\miniconda3\envs\csit82\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\baivab bhusal\miniconda3\envs\csit82\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

### pandas
- series 1D array
- dataframe 2D array

#### Series

In [3]:
# creating series from list and tuple
s1=pd.Series([10,20,30,40])
s1

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
import numpy as np
a=np.arange(10,60,10)
a

array([10, 20, 30, 40, 50])

In [6]:
s2=pd.Series(a)
s2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
s2=pd.Series(a, name="Demo")
s2

0    10
1    20
2    30
3    40
4    50
Name: Demo, dtype: int64

In [10]:
labels=["f","s","t","fo","fi"]
s2=pd.Series(a, name="Demo",index=labels)
s2

f     10
s     20
t     30
fo    40
fi    50
Name: Demo, dtype: int64

In [11]:
s2.loc['f']

np.int64(10)

In [13]:
s2.iloc[2]

np.int64(30)

In [14]:
s2.add(1)

f     11
s     21
t     31
fo    41
fi    51
Name: Demo, dtype: int64

In [15]:
s2+1

f     11
s     21
t     31
fo    41
fi    51
Name: Demo, dtype: int64

In [16]:
s2*3

f      30
s      60
t      90
fo    120
fi    150
Name: Demo, dtype: int64

In [17]:
s2.multiply(5)

f      50
s     100
t     150
fo    200
fi    250
Name: Demo, dtype: int64

In [18]:
np.cos(s2)

f    -0.839072
s     0.408082
t     0.154251
fo   -0.666938
fi    0.964966
Name: Demo, dtype: float64

In [19]:
s2.f

np.int64(10)

In [21]:
s2.max()

np.int64(50)

In [22]:
s2.argmax()

np.int64(4)

In [ ]:
s2=np.cos(s2)

In [24]:
s2

f    -0.839072
s     0.408082
t     0.154251
fo   -0.666938
fi    0.964966
Name: Demo, dtype: float64

#### Dataframe

In [25]:
#creating dataframe from dictionery
marks={
    "math":np.random.randint(30,60,size=(10,)),
    "science":np.random.randint(47,70,size=(10,)),
    "computer":np.random.randint(60,80,size=(10,)),
}
marks

{'math': array([30, 55, 39, 42, 56, 49, 49, 36, 34, 50], dtype=int32),
 'science': array([52, 48, 59, 55, 60, 56, 53, 68, 55, 64], dtype=int32),
 'computer': array([68, 70, 69, 64, 61, 69, 73, 72, 61, 77], dtype=int32)}

In [26]:
df= pd.DataFrame(marks)
df

   math  science  computer
0    30       52        68
1    55       48        70
2    39       59        69
3    42       55        64
4    56       60        61
5    49       56        69
6    49       53        73
7    36       68        72
8    34       55        61
9    50       64        77

In [27]:
marks_1=[
[30,52,	68],
[55,48,	70],
[39,59,	69],
[42,55,	64],
[56,60,	61],
[49,56,	69],
[49,53,	73],
[36,68,	72],
[34,55,	61],
[50,64,	77],
]
marks_1

[[30, 52, 68],
 [55, 48, 70],
 [39, 59, 69],
 [42, 55, 64],
 [56, 60, 61],
 [49, 56, 69],
 [49, 53, 73],
 [36, 68, 72],
 [34, 55, 61],
 [50, 64, 77]]

In [29]:
df2=pd.DataFrame(marks_1,columns=["Math","Science","Computer"])
df2

   Math  Science  Computer
0    30       52        68
1    55       48        70
2    39       59        69
3    42       55        64
4    56       60        61
5    49       56        69
6    49       53        73
7    36       68        72
8    34       55        61
9    50       64        77