In [67]:
l1=[]
print(l1)
print(type(l1))

[]
<class 'list'>

In [68]:
l2=list()
print(l2)
print(type(l2))

[]
<class 'list'>

In [69]:
#creating list with default parameter
l3=[1,"This is class",34.4,l1]
print(l3)

[1, 'This is class', 34.4, []]

In [70]:
l1.append(200)
l1

[200]

In [71]:
##Elements are added at the end of list
l1.append("This is python class")
l1

[200, 'This is python class']

In [72]:
##adding element to the particular index of the list
l1.insert(1,True)
l1

[200, True, 'This is python class']

In [73]:
##add at last of list
l1.append(10001)
l1.append(0.343434)
l1.append("This ias a string")
l1

[200, True, 'This is python class', 10001, 0.343434, 'This ias a string']

In [74]:
#removing element from the list
l1.remove(10001)
l1

[200, True, 'This is python class', 0.343434, 'This ias a string']

In [75]:
#removes last element from list concept of stack and return value too
returned_value=l1.pop()
print(returned_value)
print(l1)

This ias a string
[200, True, 'This is python class', 0.343434]

In [76]:
l1.pop(1)
l1

[200, 'This is python class', 0.343434]

In [77]:
l1.count(200)  #counts the number of times an element appears in the list

1

In [78]:
#returns the index of the first occurrence of the element in the list
l1.index( 'This is python class')

1

In [79]:
##accessing elements of list
print(l1[2])

0.343434

In [80]:
#updating value at particular index
l1[2]=0.6969
print(l1)

[200, 'This is python class', 0.6969]

In [81]:
print(l1[0:2]) #slicing the list, returns a new list with elements from index 0 to 1

[200, 'This is python class']

In [82]:
#accessing elements with negative index
print(l1[-1])  #last element
print(l1[-2])  #second last element

0.6969
This is python class

In [83]:
l1.reverse()
l1

[0.6969, 'This is python class', 200]

In [84]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=a+b
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
c=[3,9]
d=[4,8]
d.extend(c)
print(c)
print(d)

[3, 9]
[4, 8, 3, 9]

In [87]:
#Ascending order sort
d=[2,4,1,9,5]
d.sort()
d

[1, 2, 4, 5, 9]

In [88]:
d.sort(reverse=True)  #Descending order sort
d

[9, 5, 4, 2, 1]

In [89]:
#sorting in descending order with changing the order of elements in original list.
sorted(d,reverse=True)

[9, 5, 4, 2, 1]

In [90]:
#To remove all elements in list
d.clear()
d

[]

In [91]:
#always gives index of first occurring value
l2=[1,2,3,1,2,4]
l2.index(2)

1

In [92]:
#starts from 2 index
l2=[1,2,3,1,2,4]
l2.index(2,2)#value and starting index is given

4

In [93]:
#count the occurrence of elements
l2=[1,2,3,1,2,4]
l2.count(2)

2

In [94]:
a=[2,4,6]
b=a
a is b

True

In [ ]:
#slicing
a=["apple", "ball", 3, 4, 5, "cat", 2]
print(a[1:5])
print(a[0:7:2])
#a[start_index:end_index:step]

['ball', 3, 4, 5]
['apple', 3, 5, 2]

In [99]:
a=["apple", "ball", 3, 4, 5, "cat", 2]
print(a[::-1])
print(a[-1:-5:-1])

[2, 'cat', 5, 4, 3, 'ball', 'apple']
[2, 'cat', 5, 4]