# Tuple
-Array-like.
-Can store elements of multiple data types as in list.
-can store duplicate values.
-unlike list elements neither can be added,removes nor updated.

In [ ]:
t1=()
print(f"{t1=}")
print(type(t1))

t1=()
<class 'tuple'>

In [4]:
t2=tuple()
print(f"{t2=}")
print(f"{type(t2)=}")

t2=()
type(t2)=<class 'tuple'>

# creating tuple with default elements

In [3]:
t3=(1,2.0,True,(),["this","is"])
print(f"{t3=}")
print(f"{type(t3)=}")

t3=(1, 2.0, True, (), ['this', 'is'])
type(t3)=<class 'tuple'>

In [5]:
t4=(1,2,3,4,5,2,3,1,8,1,9)
t4.count(2)

2

In [6]:
t4.count(8)

1

In [ ]:
t4.index(2,4) #starts from index 4

5

In [9]:
t4.index(2,3,9) #starts with index 3 and ends in 9

5

# creating tuple with single element

In [15]:
t5=("raju",) #python automatically crreates string for single element so use ,
print(type(t5))
print(t5)

<class 'tuple'>
('raju',)

In [16]:
t2=list(t2)
print(f"{t2=}")
print(f"{type(t2)=}")

t2=[]
type(t2)=<class 'list'>

In [17]:
t2.append("Nccs")
t2

['Nccs']

In [18]:
t2=tuple(t2)
print(f"{t2=}")
print(f"{type(t2)=}")

t2=('Nccs',)
type(t2)=<class 'tuple'>