# Set

In [1]:
s1=set()
print(f"{s1=}")
print(f"{type(s1)=}")

s1=set()
type(s1)=<class 'set'>

In [3]:
s2={1,2,3,4}
s3={6,7,8,9}
print(f"{s2=}")
print(f"{type(s2)=}")
print(f"{s3=}")
print(f"{type(s3)=}")

s2={1, 2, 3, 4}
type(s2)=<class 'set'>
s3={8, 9, 6, 7}
type(s3)=<class 'set'>

# Adding element in set

In [4]:
s1.add(10)
s1.add(100)
s1.add(101)
s1.add(110)
s1.add(120)
s1.add(210)
s1

{10, 100, 101, 110, 120, 210}

# Removing elements from the set

In [5]:
s1.remove(100)

In [6]:
s1

{10, 101, 110, 120, 210}

In [8]:
s1.discard(120)
s1

{10, 101, 110, 210}

In [ ]:
s1.discard(500)  #It doesn't give error if element is not in set.
s1

{10, 101, 110, 210}

In [11]:
s1={1,2,3,4,6,8,98}
removed_value=s1.pop()
removed_value

1

# Union and Intersection

In [17]:
s2={1,2,3,4}
s3={6,3,1,7,8,9}

In [18]:
s2.union(s3)

{1, 2, 3, 4, 6, 7, 8, 9}

In [19]:
s2.intersection(s3)

{1, 3}

In [ ]:
s2.intersection_update(s3) #update s2 to intersection of s2 and s3

In [21]:
s2,s3

({1, 3}, {1, 3, 6, 7, 8, 9})

# Differenece

In [22]:
s2={1,2,3,4,6,9}
s3={6,7,8,9}
s3.difference(s2)

{7, 8}

### Symmetric Difference

In [23]:
s2.symmetric_difference_update(s3)
s2,s3

({1, 2, 3, 4, 7, 8}, {6, 7, 8, 9})

### Conditional Statement

```python
# structure 1
if condition:
    # if-block-statement

# Structure 2
if condition:
    # if-block-statement
else:
   # else-block-statement

# Structure 3
if condition:
    # if-block-statement
elif:
   # elif-block-statement
else:
   # else-block-statement
```

In [24]:
value=5
if value >4:
    print("Value is greater")

Value is greater

In [27]:
value=1
if value >4:
    print("Value is greater")
else:
    print("Value is less then or equal to 4")

Value is less then or equal to 4

In [28]:
value=4
if value >4:
    print("Value is greater")
elif(value==4):
    print("Value is equal to 4")
else:
    print("Value is less then or equal to 4")

Value is equal to 4

### One liner if-else

In [29]:
value=1
print("gt 4") if value>4 else print("lt or eq to 4")

lt or eq to 4

In [33]:
#multiply by 2 if its a even number
#multiply by 3 if it's a odd number and greater than 10
num=11
result=num*2 if num % 2 ==0 else (num*3 if num<10 else num*5)
result

55

In [34]:
#multiply by 2 if its a even number
#multiply by 3 if it's a odd number and greater than 10
num=8
result=num*2 if num % 2 ==0 else (num*3 if num<10 else num*5)
result

16

In [35]:
#multiply by 2 if its a even number
#multiply by 3 if it's a odd number and greater than 10
num=9
result=num*2 if num % 2 ==0 else (num*3 if num<10 else num*5)
result

27

### Switch
```python
x=1
exp=x**2+1
match exp:
    case 2:
        print("It's X value is 1")
    case 5:
        print("It's x value is 2")
    case _:
        print("Default case")
```

In [38]:
x=2
exp=x**2+1
match exp:
    case 2:
        print("It's x value is 1")
    case 5:
        print("It's x value is 2")
    case _:
        print("Default case")

It's x value is 2

### Unpacking of Tuples or List

In [39]:
a=1,2
print(a)
print(type(a))

(1, 2)
<class 'tuple'>

In [40]:
a,b,c=(1,2,3)
print("a:",a,type(a))
print("b:",b,type(b))
print("c:",c,type(c))

a: 1 <class 'int'>
b: 2 <class 'int'>
c: 3 <class 'int'>

In [41]:
a,b,c=[1,2,3]
print("a:",a,type(a))
print("b:",b,type(b))
print("c:",c,type(c))

a: 1 <class 'int'>
b: 2 <class 'int'>
c: 3 <class 'int'>

In [44]:
a,*remaining,b,c=(1,2,3,4,5)
print("a:",a,type(a))
print("remaining:",remaining,type(remaining))
print("b:",b,type(b))
print("c:",c,type(c))

a: 1 <class 'int'>
remaining: [2, 3] <class 'list'>
b: 4 <class 'int'>
c: 5 <class 'int'>